<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Intelligence - Corporate Category Bootstrap Responsive Website Template - Home</title>

    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->

    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="static/css/style-liberty.css">

</head>

<body>

<!-- top header -->
<!--section class="w3l-top-header">
{#    <div class="container">#}
{#        <div class="top-content-w3ls d-flex align-items-center justify-content-between">#}
{#            <div class="top-headers">#}
{#                <ul>#}
{#                    <li>#}
{#                        <i class="fa fa-map-marker-alt"></i><a href="#address">London, 235 Terry, 10001</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <i class="fa fa-phone"></i><a href="tel:+1(21) 234 4567">+1(21) 234 4567</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <i class="fa fa-envelope"></i><a href="mailto:mail@example.com">mail@example.com</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="top-headers top-headers-2">#}
{#                <ul>#}
{#                    <li>#}
{#                        <a href="#facebook"><span class="fab fa-facebook-f"></span></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#twitter"><span class="fab fa-twitter"></span></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#instagram"><span class="fab fa-instagram"></span></a>#}
{#                </li>#}
{#                <li class=" mr-0">#}
{#                        <a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</section-->
<!-- //top header -->

<!--header-->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="index.html">
                    <span class="fa fa-lightbulb"></span> 赫哲族
                </a>
            </h1>
            <!-- if logo is image enable this   
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">民族介绍</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="data.html">民族数据</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="wordcloud.html">词云分析</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="">热门话题 <span class="sr-only">(current)</span></a>
                    </li>
                    </ul>
                    <!--//search-right-->
                </ul>
            </div>
            <!-- search button -->

            <!-- //search button -->

            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//header-->


<!-- Services banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="banner-info-grid px-md-5">
                <h2 class="w3l-title-breadcrumb mb-3">热门信息</h2>
                <p class="inner-page-para px-lg-5">  旅游等议题引发热议</p>
            </div>
        </div>
    </div>
</section>
<!-- //Services banner -->
<!-- Why Choose Us Section-->
<section class="w3l-whychooseus py-5" >
 <table class="table table-responsive-md" >
     <thead>
    <tr style="text-align: center;">
      <th>排序</th>
      <th>博文内容</th>
      <th>发布账号</th>
      <th>发布时间</th>
      <th>评论数</th>
      <th>点赞数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>大顶子山位于黑龙江省饶河县是抗日联第七军大本营，也是赫哲族聚居地我爱我的祖国！我爱我的家乡！华语群星《大顶子山高又高》 K大顶子山高又高 @QQ音乐 </td>
      <td>房旅行摄</td>
      <td>2023-06-19</td>
      <td>326</td>
      <td>1455</td>
    </tr>
    <tr>
      <td>2</td>
      <td>替《时尚先生》九月刊封面故事采访了赫哲族的鱼皮衣传承人尤文凤奶奶和古籍修复师巴桑泽登。特别感激编辑来邀请我执笔，也特别谢谢《时尚先生》让这些普通人、普通事能够成为封面故事。近年，我一直希望自己可以凭借微不足道的能力花更多时间挖掘和讲述中国设计师、传统文化、工艺匠心的故事。这是因…</td>
      <td>喵娘叫做徐小喵</td>
      <td>2023-06-24</td>
      <td>184</td>
      <td>784</td>
    </tr>
    <tr>
      <td>3</td>
      <td>国风音乐#霍尊每日推荐##劳动号子# F097-《乌苏里船歌》，2019-10-18， #劳动号子# ，广东卫视原创文化音乐文化节目第一期。#霍尊# 演唱《乌苏里船歌》。@諸行無常39194 ：#霍尊#  倾情演唱《乌苏里船歌》，悠扬绵长又不乏激情，深情地表现了赫哲族人民的淳厚和朴实 ，幸福从歌声中自然而然</td>
      <td>观自在Fv</td>
      <td>2023-07-06</td>
      <td>142</td>
      <td>462</td>
    </tr>
    <tr>
      <td>4</td>
      <td>当新年的第一缕阳光洒向中国大地，橙黄的光线将点亮雄鸡的嘴角，那里是黑龙江省的抚远市，也是中国的最东极。年夜饭的餐桌上少不了各种鱼菜，艳压群芳者当属“刹生鱼”（或称杀生鱼），将鲜活的鲤鱼，或鲟鱼，或胖头鱼剔骨、切丝、添菜、拌料，成就了赫哲族这道名菜。摄影：郭睿</td>
      <td>中国国家地理美食地理</td>
      <td>2023-06-21</td>
      <td>118</td>
      <td>309</td>
    </tr>
    <tr>
      <td>5</td>
      <td>被一万个人说长得像蒙古族了就连亲妈都认证的像现在扎个小辫我就能混进蒙古族藏族赫哲族鄂温克族了一点毛病都没有</td>
      <td>拾叁叁訁</td>
      <td>2023-07-01</td>
      <td>114</td>
      <td>111</td>
    </tr>
    <tr>
      <td>6</td>
      <td>#星汉灿烂##网友分享星汉灿烂剧本#分享星子的一些视觉美学：上元节灯会、疑商小树林话别、还有片头的皮影戏，里面包含了很多剧里的场景，最惊艳我的是赫哲族的非遗技艺鱼皮画。</td>
      <td>圆莱似妳</td>
      <td>2023-06-26</td>
      <td>106</td>
      <td>218</td>
    </tr>
    <tr>
      <td>7</td>
      <td>韩庚 💛#韩庚当爸# 赫哲族混血小公主💛 </td>
      <td>紫娇gczjj</td>
      <td>2023-07-03</td>
      <td>86</td>
      <td>40</td>
    </tr>
    <tr>
      <td>8</td>
      <td>【#鱼皮画非遗继承人免费教村民作画#】用鱼皮作画，是赫哲族独有的传统手工艺。在黑龙江同江市街津口村，鱼皮画非遗传承人岑立杰夫妇，免费教了200多位村民徒弟，传承技艺，带大家共同致富。村里还办起了鱼皮画工坊、民族服饰加工基地，吸引了许多游客。画出名了，收入高了，生活好了！加油…</td>
      <td>河北博物院</td>
      <td>2023-07-06</td>
      <td>74</td>
      <td>70</td>
    </tr>
    <tr>
      <td>9</td>
      <td>中国少数民族中，人数最多是哪个民族，人数最少的又是哪个民族？这是1962年【人民画报】的一个知识帖。最多的是僮族，有七百余万人。最少的是赫哲族，只有四百多人。当时是52个少数民族加上汉族共53个民族。现在的情况怎么样？</td>
      <td>樊建川</td>
      <td>2023-06-28</td>
      <td>74</td>
      <td>70</td>
    </tr>
    <tr>
      <td>10</td>
      <td>#带着微博去旅行##黑龙江旅行# 今天的鱼皮画已经具有了全新的艺术形式和更加丰富的文化内涵。通过对鱼皮的粘贴和镂刻，从不同角度表现了赫哲族人民的聪明才智和审美意识。鱼皮画图案在保持民族风格的基础之上，不断创新，成为中华民族图案艺术宝库的重要组成部分。@微博旅游 O走进同江，走进神秘的赫哲鱼皮技艺！</td>
      <td>长春游记</td>
      <td>2023-07-06</td>
      <td>67</td>
      <td>242</td>
    </tr>
  </tbody>
     </table>

</section>

<footer class="w3l-footer-29-main">
    <div class="footer-29 pt-5 pb-4">
        <div class="container pt-md-4">
{#            <div class="row footer-top-29">#}
{#                <div class="col-lg-4 col-md-6 footer-list-29">#}
{#                    <h6 class="footer-title-29">Contact Info </h6>#}
{#                    <p class="mb-2 pe-xl-5">Address : Intelligence, 10001, 5th Avenue, #06 lane street, NY - 62617.#}
{#                    </p>#}
{#                    <p class="mb-2">Phone Number : <a href="tel:+1(21) 234 4567">+1(21) 234 4567</a></p>#}
{#                    <p class="mb-2">Email : <a href="mailto:info@example.com">info@example.com</a></p>#}
{#                    <p class="mb-2">Support : <a href="mailto:support@example.com">support@example.com</a></p>#}
{#                </div>#}
{#                <div class="col-lg-2 col-md-3 col-6 footer-list-29 mt-md-0 mt-4">#}
{#                    <ul>#}
{#                        <h6 class="footer-title-29">Quick Links</h6>#}
{#                        <li><a href="about.html">About Company</a></li>#}
{#                        <li><a href="#blog">Blog Posts</a></li>#}
{#                        <li><a href="services.html">Our Services</a></li>#}
{#                        <li><a href="contact.html">Contact Us</a></li>#}
{#                        <li><a href="#shortcodes">Shortcodes</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-lg-2 col-md-3 col-6 ps-lg-5 ps-lg-4 footer-list-29 mt-md-0 mt-4">#}
{#                    <ul>#}
{#                        <h6 class="footer-title-29">Explore</h6>#}
{#                        <li><a href="#blog">Blog Posts</a></li>#}
{#                        <li><a href="#privacy">Privacy policy</a></li>#}
{#                        <li><a href="contact.html">Contact Us</a></li>#}
{#                        <li><a href="#license">License & uses</a></li>#}
{#                        <li><a href="#blog">View Articles</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-lg-4 col-md-6 footer-list-29 mt-lg-0 mt-4 ps-lg-5">#}
{#                    <h6 class="footer-title-29">Subscribe</h6>#}
{#                    <form action="#" class="subscribe d-flex" method="post">#}
{#                        <input type="email" name="email" placeholder="Email Address" required="">#}
{#                        <button class="button-style"><span class="fa fa-paper-plane"#}
{#                                aria-hidden="true"></span></button>#}
{#                    </form>#}
{#                    <p class="mt-4">Subscribe to our mailing list and get updates to your email inbox.</p>#}
{#                </div>#}
{#            </div>#}
            <!-- copyright -->
            <p class="copy-footer-29 text-center mt-5 pb-2">22301277 姜琳琳 @All rights reserved </p>
            <!-- //copyright -->
        </div>
    </div>
</footer>
<!-- //footer block -->




<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="static/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- theme switch js (light and dark)-->
<script src="static/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!--/stats-number-counter-->
<script src="static/js/jquery.waypoints.min.js"></script>
<script src="static/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();

</script>
<!--//stats-number-counter-->

<!--/owlcarousel-->
<script src="static/js/owl.carousel.js"></script>
<!-- //tesimonials-->
<script>
    $(document).ready(function() {
        $("#owl-demo1").owlCarousel({
            loop: true,
            nav: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                736: {
                    items: 1,
                    nav: false
                }
            }
        })
    })

</script>
<!-- //tesimonials-->

<!-- MENU-JS -->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which navbar is in active -->

<!--bootstrap-->
<script src="static/js/bootstrap.min.js"></script>
<!-- //bootstrap-->
<!-- //Js scripts -->

</body>

</html>
